//Colors
$primary: #44c767;
$blue: #0091e6;
$green: #44c767;
$red: #ec291b;
$orange: #f16726;
$yellow: #f1bb26;

$white: #ffffff;
$black: #121416;

$header-link: #222628;
$header-link-hover: #222628;

$border-color: #f2f6f8;

$gray-100: #f2f6f8;
$gray-200: #d2d6d8;
$gray-300: #a2a6a8;
$gray-400: #929698;
$gray-500: #828688;
$gray-600: #727678;
$gray-700: #525658;
$gray-800: #424648;
$gray-900: #222628;

//Transition
$transition-duration: 50ms;

//Typo
$fnt-smallest: .8em;
$fnt-smaller: .9em;
$fnt-bigger: 1.25em;

// Column width with no margin
@mixin column-width-nomargin($numberColumns: 3) {
	width: map-get($columns, $numberColumns);
}
