a {
    color: $primary;
    text-decoration: none;
    &:visited {
        color: $primary;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

table {
	* {
		font-weight: inherit;
	}

	border: 1px solid $gray-200;
	border-top: 0;
	border-collapse: collapse;


	tr {
		text-align: left;

		td,
		th {
			border-top:  .5px solid $gray-200;
		}
	}

	th,
	td {
		padding: .5em 1em;
		vertical-align: middle;
		border: 0;
	}

	td {
		background: $white;
	}

	thead {
		font-weight: 500;
		color: $white;
		background-color: $gray-800;
	}

	tbody,
	tfoot {
		
		th:nth-of-type(odd),
		tr:nth-of-type(odd){
			background: $white;
		}

		th:nth-of-type(even),
		tr:nth-of-type(even){
			background: $gray-100;
		}

	}

}